body {
  background-color: lightsteelblue;
  text-align: center;
  padding: 50px;
}

h1 {
  color: darkslateblue;
}
h2 {
  color: darkslateblue;
}
h3 {
  color: darkslateblue;
}
p {
  color: darkslateblue;
}
